    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <div><%= image_tag "logobig.png", class:"logobig"%></div>
            <h3>Your weather information page</h3>
            <br>
            <a href="#cities" class="btn btn-dark btn-lg">Select a City</a>
        </div>
    </header>

    <!-- Cities -->
    <!-- The circle icons use Font Awesome's stacked icon classes. -->
    <section id="cities" class="services bg-primary">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h2>Cities</h2>
                    <hr class="small">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div id="main" class="m-scene">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-coffee fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Paris</strong>
                                </h4>
                                
                                <div class="scene_element scene_element--fadein">
                                <a href="/cities/paris" class="btn btn-light scene_element scene_element--fadein">Check it out</a>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-glass fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Santiago</strong>
                                </h4>
                                
                                <a href="/cities/santiago" class="btn btn-light">Check it out</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-suitcase fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Bangkok</strong>
                                </h4>
                                <a href="/cities/bangkok" class="btn btn-light">Check it out</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-md-offset-2">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-building-o fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>New York</strong>
                                </h4>
                               
                                <a href="/cities/newyork" class="btn btn-light">Check it out</a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-leaf fa-stack-1x text-primary"></i>
                            </span>
                                <h4>
                                    <strong>Bamako</strong>
                                </h4>
                                
                                <a href="/cities/bamako" class="btn btn-light">Check it out</a>
                            </div>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.col-lg-10 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>

    

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    
                    <ul class="list-inline">
                       <!--  <li>
                            <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                        </li> -->
                    </ul>
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; 2015</p>
                </div>
            </div>
        </div>
    </footer>

