<div>  
  <%= image_tag 'bamako.jpg', alt:"bamako", id:"full-screen-background-image"%> 

  <div id="wrapper">
    <h1 class="largenumbers"> <%= @temperature %> </h1>
	<p class="forecast"> Forecast for tomorrow</p>
    <h3 class="forecastnumbers"> <%= @forecast %> </h3>
  </div>

</div>