// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
  position: relative;
  width: 800px;
  min-height: 400px;
  margin: 100px auto;
  color: #333;
}

.largenumbers {
  font-size: 72pt;
  color: white;
  font-family: 'Open Sans', light;
}

.forecast {
  font-family: 'Open Sans', light;
  font-size: 18pt;
}

.forecastnumbers {
  font-size: 30pt;
  color: white;
  font-family: 'Open Sans', light;
}